body{
    background-color: black;
}
/*Textos*/
#anio, #fecha, #hora, #porcentaje{
    position: absolute;
    width: 99vw;
    text-align: center;
    color: white;
}
#anio{
    font-size: 5vh;
    position: relative;
    top: 35vh;
}
#fecha{
    font-size: 3vh;
    position: relative;
    top: 36vh;
}
#hora{
    font-size: 2vh;
    position: relative;
    top: 37vh;
}
#porcentaje{
    font-size: 2vh;
    position: absolute;
    top: 51vh;
    z-index: 1;
}
/*Barra de progreso*/
#barra {
    width: 50vw;
    height: 2vh;
    background-color: grey;
    border: 1px solid white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: 1vh;
    margin-left: -25vw;
}
#progreso {
    height: 2vh;
    width: 0%;
    background-color: green;
}
/* Se añade algo de responsive*/
@media only screen and (max-width: 600px) {
    #anio{
        font-size: 3vh;
    }
}